[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/btx148
[access "refs/for/refs/*"]
	read = group user/btx148
	push = group user/btx148
	label-Code-Review = -2..+2 group user/btx148
	label-Verified = -1..+1 group user/btx148
	rebase = group user/btx148
	removeReviewer = group user/btx148
	submit = group user/btx148
[access "refs/heads/*"]
	read = group user/btx148
	create = group user/btx148
	push = +force group user/btx148
	pushMerge = group user/btx148
[access "refs/tags/*"]
	push = group user/btx148
	push = +force group user/btx148
